USE [master]
GO
/****** Object:  Database [QLThuVien]    
CREATE DATABASE [QLThuVien] 
GO
USE [QLThuVien]
GO
/****** Object:  Table [dbo].[tblChiTietMuon]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblChiTietMuon](
	[MaPM] [int] NOT NULL,
	[MaSach] [char](10) NOT NULL,
	[NgayThue] [datetime] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
 CONSTRAINT [PK_tblChiTietMuon] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDocGia]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDocGia](
	[MaDG] [char](10) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [char](12) NULL,
	[Email] [nvarchar](30) NULL,
 CONSTRAINT [PK_tblDocGia] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblHoaDonMuon]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblHoaDonMuon](
	[MaPM] [int] NOT NULL,
	[MaDG] [char](10) NOT NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_tblHoaDonMuon_1] PRIMARY KEY CLUSTERED 
(
	[MaPM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSach]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSach](
	[MaSach] [char](10) NOT NULL,
	[MaTL] [char](10) NOT NULL,
	[TenSach] [nvarchar](50) NOT NULL,
	[TacGia] [nvarchar](30) NULL,
	[NhaXuatBan] [nvarchar](30) NULL,
	[NgayMuaSach] [datetime] NULL,
	[TonTai] [int] NULL,
	[SoLanMuon] [int] NULL,
 CONSTRAINT [PK_tblSach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTheLoai]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTheLoai](
	[MaTL] [char](10) NOT NULL,
	[TenTL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblTheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTTNhanVien]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTTNhanVien](
	[MaNV] [char](10) NOT NULL,
	[HoTen] [nvarchar](30) NOT NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [char](12) NULL,
 CONSTRAINT [PK_tblTTNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUser]    
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[ID] [nchar](10) NOT NULL,
	[Password] [nchar](20) NOT NULL,
	[PhanQuyen] [int] NOT NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tblChiTietMuon] ([MaPM], [MaSach], [NgayThue], [NgayTra]) VALUES (2, N'MS006     ', CAST(0x0000A60C00000000 AS DateTime), CAST(0x0000A61300000000 AS DateTime))
INSERT [dbo].[tblDocGia] ([MaDG], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email]) VALUES (N'DG001     ', N'Châu Tinh Trì', 0, CAST(0x0000A61200000000 AS DateTime), N'Quảng Châu - Trung Quốc', N'0123548521  ', N'chautinhtinh@gmail.com')
INSERT [dbo].[tblDocGia] ([MaDG], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email]) VALUES (N'DG002     ', N'Nguyễn Thị Bé', 1, CAST(0x000088E300000000 AS DateTime), N'Đà Nẵng', N'0166555555  ', N'bexinhxinh@yahoo.com')
INSERT [dbo].[tblDocGia] ([MaDG], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [Email]) VALUES (N'DG003     ', N'Trần Hạo Nam', 0, CAST(0x0000806800000000 AS DateTime), N'Hải Phòng', N'0120000000  ', N'nguoitronggiangho@gmail.com')
INSERT [dbo].[tblHoaDonMuon] ([MaPM], [MaDG], [TinhTrang]) VALUES (1, N'DG001     ', 1)
INSERT [dbo].[tblHoaDonMuon] ([MaPM], [MaDG], [TinhTrang]) VALUES (2, N'DG002     ', 0)
INSERT [dbo].[tblHoaDonMuon] ([MaPM], [MaDG], [TinhTrang]) VALUES (3, N'DG003     ', 1)
INSERT [dbo].[tblSach] ([MaSach], [MaTL], [TenSach], [TacGia], [NhaXuatBan], [NgayMuaSach], [TonTai], [SoLanMuon]) VALUES (N'MS001     ', N'L010      ', N'Hướng dẫn nấu các món ăn Đông Á', N'Trần Hoàng Lân', N'KiMoChi', CAST(0x0000A5D400000000 AS DateTime), 481, 19)
INSERT [dbo].[tblSach] ([MaSach], [MaTL], [TenSach], [TacGia], [NhaXuatBan], [NgayMuaSach], [TonTai], [SoLanMuon]) VALUES (N'MS002     ', N'L010      ', N'Hướng dẫn nấu các món ăn Tây', N'Trần Hoàng Lân', N'KiMoChi', CAST(0x0000A5D400000000 AS DateTime), 392, 8)
INSERT [dbo].[tblSach] ([MaSach], [MaTL], [TenSach], [TacGia], [NhaXuatBan], [NgayMuaSach], [TonTai], [SoLanMuon]) VALUES (N'MS004     ', N'L001      ', N'Kỹ năng sinh tồn - Phần 1', N'Zoro', N'One Piece', CAST(0x0000A5D400000000 AS DateTime), 293, 5)
INSERT [dbo].[tblTheLoai] ([MaTL], [TenTL]) VALUES (N'L001      ', N'Sách kỹ năng sống')
INSERT [dbo].[tblTheLoai] ([MaTL], [TenTL]) VALUES (N'L002      ', N'Sách truyện ngắn - Bút ký')
INSERT [dbo].[tblTheLoai] ([MaTL], [TenTL]) VALUES (N'L003      ', N'Văn học')
INSERT [dbo].[tblTTNhanVien] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [DienThoai]) VALUES (N'NV001     ', N'Nguyễn Văn Dũng', 0, CAST(0x0000881000000000 AS DateTime), N'Hà Nội', N'012106172360')
INSERT [dbo].[tblTTNhanVien] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [DienThoai]) VALUES (N'NV002     ', N'Nguyễn Hồng Phương', 0, CAST(0x0000884600000000 AS DateTime), N'Quảng Ngãi', N'01206172360 ')
INSERT [dbo].[tblTTNhanVien] ([MaNV], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [DienThoai]) VALUES (N'NV004     ', N'Nguyễn Vân', 1, CAST(0x00008C6300000000 AS DateTime), N'Hà Nội', N'01206172360 ')
INSERT [dbo].[tblUser] ([ID], [Password], [PhanQuyen]) VALUES (N'admin     ', N'1                   ', 0)
INSERT [dbo].[tblUser] ([ID], [Password], [PhanQuyen]) VALUES (N'dung      ', N'dung                ', 3)
ALTER TABLE [dbo].[tblChiTietMuon]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietMuon_tblHoaDonMuon] FOREIGN KEY([MaPM])
REFERENCES [dbo].[tblHoaDonMuon] ([MaPM])
GO
ALTER TABLE [dbo].[tblChiTietMuon] CHECK CONSTRAINT [FK_tblChiTietMuon_tblHoaDonMuon]
GO
ALTER TABLE [dbo].[tblChiTietMuon]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietMuon_tblSach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[tblSach] ([MaSach])
GO
ALTER TABLE [dbo].[tblChiTietMuon] CHECK CONSTRAINT [FK_tblChiTietMuon_tblSach]
GO
ALTER TABLE [dbo].[tblHoaDonMuon]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDonMuon_tblDocGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[tblDocGia] ([MaDG])
GO
ALTER TABLE [dbo].[tblHoaDonMuon] CHECK CONSTRAINT [FK_tblHoaDonMuon_tblDocGia]
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD  CONSTRAINT [FK_tblSach_tblTheLoai] FOREIGN KEY([MaTL])
REFERENCES [dbo].[tblTheLoai] ([MaTL])
GO
ALTER TABLE [dbo].[tblSach] CHECK CONSTRAINT [FK_tblSach_tblTheLoai]
GO
USE [master]
GO
